<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print" />	
    <!--[if lt IE 8]><link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css" type="text/css" />

    
</head>

{% if blog.g_analytics_tracking_id %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ blog.g_analytics_tracking_id }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endif %}

<body class="{% block pagetype %}{% endblock pagetype %}">
    <div class="container">

        <div class="span-24 last" id="header"> 
            <h1 id="blog-title">
                <a href="{{blog.get_absolute_url}}">{{ blog.title }}</a>
            </h1>
            <span "blog-descripition">{{ blog.description }}</span>
            {% block header_extra %}{% endblock header_extra %} 
        </div>

        <div class="span-18" id="main-wrapper">
            {% block main %}{% endblock main %} 
        </div>

        <div class="span-6 last" id="navi-wrapper">
            {% block navi %}{% endblock navi %}
        </div>


        <div class="span-24 last" id="footer"> 
            {% block footer_extra %}{% endblock footer_extra %} 
            <div id="powered-by"> 
                This blog is powered by
                <a href="http://github.com/danmarner/django-sophie/">Sophie</a> / <a href="http://djangoproject.com">Django</a>
            </div>
        </div>

    </div>
</body>
</html>
