<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print">	
    <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

    
</head>
<body class="{% block pagetype %}{% endblock pagetype %}">
    <div id="header"> 
        <h1 id="blog-title">
            <a href="{{blog.get_absolute_url}}">{{ blog.title }}</a>
        </h1>
        <span "blog-descripition">{{ blog.description }}</span>
        {% block header_extra %}{% endblock header_extra %} 
    </div>
    <div id="content"> 
        <div id="navi-wrapper">
            {% block navi %}{% endblock navi %}
        </div>
        <div id="main-wrapper">
            {% block main %}{% endblock main %} 
        </div>
    </div>
    <div id="footer"> 
        {% block footer_extra %}{% endblock footer_extra %} 
    </div>
</body>
</html>
