{% extends base_template %}
{% load sophie_parts %}

{% block title %}
{{ blog.title }}: {{ blog.description }}
{% endblock title %}

{% block pre_body %}
    <meta name="description" content="{{ blog.description }}" />
{% endblock pre_body %}

{% block navi %}
{% sophie_shows_feed_of blog %}
{% sophie_lists_category_of blog %}
{% endblock navi %}

{% block main %}
<div id="entry_list">
    {% sophie_lists_entries_in page.object_list blog %}
</div>

<div id="pagination">
    {% sophie_links_siblings_of page blog %}
</div>
{% endblock main %}
